* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 100vh;
}

#root {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: inherit;
}

#aside {
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    box-shadow: 5px 0 10px 0 #000;
    padding: 10px;
    min-width: 284px;
    display: flex;
    flex-flow: column nowrap;
}

#aside button,
#aside select,
#aside input{
    width: 100%;
    padding: 10px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 400px;
}

.aside-block {
    flex: 1;
}

.aside-block.add-element-to-main > * {
    margin: 10px 0;
}

#main {
    padding: 15px;
    padding-top: 50px;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1.title {
    text-align: center;
}

.document-element {
    font-family: 'Times New Roman';
    font-size: 14px;
    padding: 4px 75px;
    overflow-wrap: break-word;
    width: 100%;
    position: relative;
}

.document-element .control {
    position: absolute;
    right: 0;
    height: max-content;
    width: max-content;
    top: -30px;
    background: rgba(127,127,127,0.7);
    opacity: 0;
    display: flex;
}

.document-element .control > button {
    width: 100%;
    padding: 4px;
}

.document-element .control > * {
    margin: 5px;
}

.document-element:hover .control {
    opacity: 1;
}

.document-element:hover {
    border: 1px solid rgb(127,127,127);
}